@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

// variables
@import './variables';

// layouts
@import './layouts/default';

// pages
@import './pages/home'; 
@import './pages/live';
@import './pages/matches';
@import './pages//teams';
@import './pages/standing';
@import './pages/game-details';
@import './pages/favorites';

// components
@import './components/navbar';
@import './components/footer';

// molecules 
@import './molecules/player-card';
@import './molecules/team-stats';
@import './molecules/data-pickes';
