@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

// variables
@import './variables';

// layouts
@import './layouts/default';

// pages
@import './pages/home'; 
@import './pages/live';
@import './pages//teams';

// components
@import './components/navbar';

// molecules 
@import './molecules/player-card';
@import './molecules/team-stats';
