.live {
  &__container {
    padding: 0 20px;
  }

  &__title {
    text-align: center;
    font-style: italic;
    width: 100%;
    padding: 15px;
  }
  &__body {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    p {
      
      width: 100%;
      text-align: center;
      font-size: 34px;
      font-weight: 00;
    }

    @media (max-width: 785px) {
      grid-template-columns: 1fr;
    }
  }
  &__single-match {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 30px;
    flex-wrap: wrap;
    max-width: 350px;
    border: 1px solid black;
    border-radius: 8px;
    
    p {
      text-align: center;
    }
  }
}